<!doctype html>
<html lang="en">
  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" type="text/css" href="css/style.css">

<link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Baloo+2&family=Poppins&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://unpkg.com/flickity@2/dist/flickity.min.css">
<title>Confess Diary</title>
<link rel="icon" href="css/images/penicon.png">
  </head>
  <body>
    <header>
      <nav data-spy="affix" data-offset-top="197">
        <div class="logo">
            <h1 class="logo-name"><i class="fas fa-pen-nib"></i><span>C</span>onfess  <span> D</span>iary</h1>
            </div>
            <ul>
              <li><a href="#"><i class="fab fa-facebook"></i></a></li>
              <li><a href="#"><i class="fab fa-instagram"></i></a></li>
              <li><a href="#"><i class="fab fa-twitter"></i></a></li>
              <li><a href="#"><i class="fab fa-linkedin"></i></a></li>
            </ul>
      </nav>
    </header>
    <main>
       <div class="navs">
              <ul>
              <li><a href="/">Home</a></li>
              <li><a href="/about">About</a></li>
              <li><a href="/contact">Contact</a></li>
            </ul>
            <div class="tog">
                <ul>
                  <li><a href="/">Home</a></li>
                  <li><a href="/about">About</a></li>
                  <li><a href="/contact">Contact</a></li>
            </ul>
            </div>
            <div class="bars">
            <button class="but"><i class="fas fa-bars"></i></button>
          </div>
            <div class="log-sec">
              <h3>New user?</h3>
              <button><a href="/register">Sign up</a></button>
               <button><a href="/login">Login</a></button>
            </div>
            </div>

              <div class="main-carousel" data-flickity='{"wrapAround":true, "autoPlay":true}'>
                 <div class="carousel-cell"><div class="compress"><h4>@confessdiary</h4><h1>Wanna confess something?</h1> <p>Tell your secret to the world withour revealing your identity</p><button><i class="fas fa-key"></i><a href="#">Confess</a></button></div><img src="css/images/ip5.jpg" alt=""></div>
                  <div class="carousel-cell"><div class="compress"><h4>@confessdiary</h4><h1>CONFESS YOUR SINS!</h1> <p>As..Confessed faults are half -mended so, let's confess!!!</p><button><i class="fas fa-key"></i><a href="#">Confess</a></button></div><img src="css/images/ip2.jpg" alt=""></div>
  <div class="carousel-cell"><div class="compress"><h4>@confessdiary</h4><h1>FEEL APOLOGETIC?</h1> <p>Never regret yesterday. Life is in you today and you make your tomorrow...just feel apologetic that's what matters</p><button><i class="fas fa-key"></i><a href="#">Confess</a></button></div><img src="css/images/ip5.jpg" alt=""></div>
      <div class="carousel-cell"><div class="compress"><h4>@confessdiary</h4><h1>Confess globally!</h1> <p>Tell your secret to the world withour revealing your identity.</p><button><i class="fas fa-key"></i><a href="#">Confess</a></button></div><img src="css/images/ip4.jpg" alt=""></div>

</div>
<div class="card-section">
  <h1 class="head-title">Connect <span>with</span> us!</h1>
  <div class="flex">
  <div class="grid-a">
    <div class="card-a card">
      <i class="fas fa-theater-masks"></i>
     <h2> Be anonymous!</h2>
     <p>
      We first need to realize that we don’t need to confess our sins to a particular person, go to a particular place, or wait for a particular time. It is important to confess something when u need internal satisfaction and internal peace of mind .
     </p>
    </div>
       <div class="card-b card">
        <i class="fas fa-globe"></i>
        <h2>Confess Globally</h2>
        <p>
    You can accept your sins over here without telling your identity this will make u feel good as a person and you will also not fear of losing anything in life this is the best way you can achieve peace by fleshing out your inner sins
     </p>
    </div>
  </div>
    <div class="grid-b">
       <div class="card-c card">
        <i class="fas fa-shield-alt"></i>
        <h2>100% Secured</h2>
        <p>
 Here, we are using 6th level of secured authentication
So the user data is saved and there is no chances of any breach.Your confessions Is safe with us so go ahead and confess, no one can breach you!!!!
"Feel good with yourself"
     </p>
    </div>
       <div class="card-d card">
        <i class="fas fa-cogs"></i>
        <h2>Connect with owner</h2>
        <p>
          This application is just for the entertaintment purpose.
     For further information or discussion about this application you can directly contact to the developer given below:-

     </p>
     <button><a href="#">Connect via linkedin</a></button>
    </div>
  </div>
</div>
  </div>
    </main>
<footer>
  <div class="foot-section">
     <ul>
              <li><a href="#"><i class="fab fa-facebook"></i></a></li>
              <li><a href="#"><i class="fab fa-instagram"></i></a></li>
              <li><a href="#"><i class="fab fa-twitter"></i></a></li>
              <li><a href="#"><i class="fab fa-linkedin"></i></a></li>
            </ul>
            <div class="c-r">
              <h5>&copy; Copyrights @<span>C</span>onfess <span>D</span>iary. All rights reserved</h5>
              <h6> Developed by:- Anuj Saklani</h6>
            </div>
  </div>
</footer>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
   <script src="https://unpkg.com/flickity@2/dist/flickity.pkgd.min.js"></script>
   <script type="text/javascript">
    let show=true;
     $(".but").click(function(){
if(show){
  $(".tog").slideDown()
  show=false;
}
else{
  $(".tog").slideUp()
  show=true;
}
     })
   </script>
  </body>
</html>
