<!doctype html>
<html lang="en">
  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">


<link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Baloo+2&family=Poppins&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://unpkg.com/flickity@2/dist/flickity.min.css">
<title>Error!</title>
<link rel="icon" href="images/penicon.png">
<style type="text/css">
  body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  h1{
    font-family: 'Poppins', sans-serif;
  }
  h1 span{
    color: rgb(147,112,219);
  }
  h2{
      font-family: 'Baloo 2', cursive;
      font-weight: 100;
      margin-top: 0.75rem;
  }
  a{
    padding: 0.25rem 3rem;
    color: white;
    text-decoration: none;
    background: rgb(147,112,219);
    border-radius: 5px;
     margin-top: 0.75rem;
  }
  @media screen and (max-width: 500px){
    h1{
      font-size: 1.2rem;
    }
    h2{
      font-size: 1rem;
    }

  }

</style>
  </head>
  <body>
 <h1 class="error-heading"><span>oops!</span> something went wrong.</h1>
 <h2 class="e-a">Already a member or fault in provided details.</h2>
 <a href="/">Try Again</a>
  </body>
</html>
